*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* <<<TONIQUE FONT START>>> *//* <<<TONIQUE FONT START>>> */
/* <<<TONIQUE FONT START>>> *//* <<<TONIQUE FONT START>>> */
#Nav{
    border: 3px solid #d79561;
    background-color: black;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#NAV01{
    /* border: 2px solid black; */
    height: 160px;
    width: 50%;
    display:  flex;
    align-items: center;
}
#NAV01 h1 b{
    font-size: 450%;
    color: #d79561;
    margin-left: 30px;
}
#NAV01 h1 b{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}






/* <<<TONIQUE FONT END>>> *//* <<<TONIQUE FONT END>>> */
/* <<<TONIQUE FONT END>>> *//* <<<TONIQUE FONT END>>> */

/* <<< NAV START>>> *//* <<< NAV START>>> */
/* <<< NAV START>>> *//* <<< NAV START>>> */
#NAV02{
    /* border: 2px solid black; */
    height: 160px;
    width: 50%;
}
#NAV02 ul li {
    display: inline; 
    align-items: center;
    padding: 3%;
    font-size: 200%;
    font-weight: bolder;
}
#NAV02 ul li a{
    text-decoration: none;
    color: #d79561; 
}
#Li{
    margin-top: 8%;
}
#NAV02 ul li a:hover{
    color: whitesmoke;
}
/* <<< NAV END>>> *//* <<< NAV END>>> */
/* <<< NAV END>>> *//* <<< NAV END>>> */

/* <<< TONIQUE IMAGE START>>> *//* <<< TONIQUE IMAGE START>>> */
/* <<< TONIQUE IMAGE START>>> *//* <<< TONIQUE IMAGE START>>> */
#MAINLOGO{
    border: 2px solid black;
    height: 720px;
    width: 100%;
}
/* <<< TONIQUE IMAGE END>>> *//* <<< TONIQUE IMAGE END>>> */
/* <<< TONIQUE IMAGE END>>> *//* <<< TONIQUE IMAGE END>>> */
#SellerOfMonth{
    border: 2px solid black;
    background-color: black;
    height: 80px;
    width: 100%;
   
}
#SellerOfMonth h1{
    color: #d79561;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%; 
}
/* <<<Month Seller End>>> *//* <<<Month Seller End>>> */
/* <<<Month Seller End>>> *//* <<<Month Seller End>>> */
#SellerOfMonth h1{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;

}
/*<<< Month Seller Img Start>>>*//*<<< Month SellerImgStart>>>*/
/*<<< Month Seller Img Start>>>*//*<<< Month SellerImgStart>>>*/

 #TOPBRANDS{
    /* border: 2px solid black; */
    background-color: black;
    height: 370px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly; 
 
} 
 #SellerOfMonth01{
    /* border: 2px solid black; */
    height: 360px;
    width: 25%;
}
#IMG01{
    /* border: 2px solid black; */
    height: 300px;
    width: 100%;
}
#Rate01{
    /* border: 2px solid black; */
    height: 60px;
    width: 100%;
}

#Rate01 a{
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    color:  #d79561;
}
#Rate01 a h1:hover{
    color: whitesmoke;
}
#IMG01:hover{
    cursor: pointer;
    filter: grayscale(2);
    transform: scale(1.1);
   
}




#SellerOfMonth02{
    /* border: 2px solid black; */
    height: 360px;
    width: 25%;
}

#IMG02{
    /* border: 2px solid black; */
    height: 300px;
    width: 100%;
}
#Rate02{
    /* border: 2px solid black; */
    height: 60px;
    width: 100%;
}
#Rate02 a{
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    color:  #d79561;
}
#Rate02 a h1:hover{
    color: whitesmoke;
}
#IMG02:hover{
    cursor: pointer;
    filter: grayscale(2);
    transform: scale(1.1);   
}






#SellerOfMonth03{
    /* border: 2px solid black; */
    height: 360px;
    width: 25%;
}
#IMG03{
    /* border: 2px solid black; */
    height: 300px;
    width: 100%;
    
}
#Rate03{
    /* border: 2px solid black; */
    height: 60px;
    width: 100%;
}
#Rate03 a{
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    color:  #d79561;
}
#Rate03 a h1:hover{
    color: whitesmoke;
}
#IMG03:hover{
    cursor: pointer;
    filter: grayscale(2);
    transform: scale(1.1);
   
}





#SellerOfMonth04{
    /* border: 2px solid black; */
    height: 360px;
    width: 24%;
}
#IMG04{
    /* border: 2px solid black; */
    height: 300px;
    width: 100%;
}
#Rate04{
    /* border: 2px solid black; */
    height: 60px;
    width: 100%;
}
#Rate04 a{
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    color:  #d79561;
}
#Rate04 a h1:hover{
    color: whitesmoke;
}
#IMG04:hover{
    cursor: pointer;
    filter: grayscale(2);
    transform: scale(1.1);
   
}
/* @media screen and (min-width:600px){
    NAV01 h1 b{}
   
} */

/* Start  *//* Start  */

#Brandsname{
    /* border: 2px solid black; */
    height: 65px;
    width: 100%;
}
#Brandsname b{
    font-size: 230%;
    display: flex;
    align-items: center;
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 16px;
    margin-top: 6px;
}
/* End  *//* End  */


/* Start Here  *//* Start Here  */
/* Start Here  *//* Start Here  */

#FirstThree{
    /* border: 2px solid black; */
    height: 635px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
#FirstThree03{
    /* border: 2px solid black; */
    height: 620px;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
#teqila{
    border: 3px solid black;
    height: 600px;
    width: 33%;
    position: relative;
}
#T01 b a{
    font-size: 140%;
    position: absolute;
    text-decoration: none;
    color: black;
    margin-top: 16px;
    margin-left: 16px;
    color: whitesmoke;

}
#T01 b a h1:hover{
     color:  gold;
}

#wine{
    border: 3px solid black;
    height: 600px;
    width: 32.5%;
    position: relative;
}
#W01 a{
    position: absolute;
    font-size: 140%;
    text-decoration: none;
    color: black;
    margin-top: 16px;
    margin-left: 16px;
    color: whitesmoke;

}
#W01 a:hover{
    color:  gold;
}


#Vodka{
    border: 3px solid black;
    height: 600px;
    width: 32.5%;
    position: relative;
}
#V01 a{
    position: absolute;
    font-size: 140%;
    text-decoration: none;
    color: black;
    margin-top: 16px;
    margin-left: 16px;
    color: whitesmoke;

}

#V01 h1:hover{
    color:   gold;
}
/* < --END--> *//* < --END--> */
/* < --END--> *//* < --END--> */

/* <-- START--> *//* <-- START--> */
/* <-- START--> *//* <-- START--> */

#Secodone{
    border: 3px solid black;
    height: 740px;
    width: 100%;
    position: relative;
}
#Wsk01 a h1{
    position: absolute;
    font-size: 260%;
    text-decoration: none;
    color: white;
    margin-top: 16px;
    margin-left: 16px;
}

#Wsk01 a h1:hover{
    color: goldenrod;
}
/* < --END--> *//* < --END--> */
/* < --END--> *//* < --END--> */


/* <-- START--> *//* <-- START--> */
/* <-- START--> *//* <-- START--> */

#Thirdsecond{
    /* border: 3px solid black; */
    height: 625px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
#Rum{
    border: 3px solid black;
    height: 600px;
    width: 33%;
}
#Gin{
    border: 3px solid black;
    height: 600px;
    width: 33%;
}
#Name01{
    /* border: 2px solid black; */
    height: 600px;
    width: 10%;
}
#Name01 b{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 500%;
    margin-top: 145px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;     
}
#Name01 a {
    text-decoration: none;
    color: black;
}
#Name01 a:hover{
    color: gray;
}
#Name02{
    /* border: 2px solid black; */
    height: 600px;
    width: 10%;
}
#Name02 a:hover{
    color: gray;
}
#Name02 a {
    text-decoration: none;
    color: black;
    font-size: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 145px;
    
}
/* #Name03{
    border: 2px solid black;
    height: 600px;
    width: 10%;
} */



/* < --END--> *//* < --END--> */
/* < --END--> *//* < --END--> */


/* <-- START--> *//* <-- START--> */
/* <-- START--> *//* <-- START--> */

#Fourththird{
    /* border: 2px solid black; */
    height: 625px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}
#Feni{
    border: 3px solid black;
    height: 600px;
    width: 33%;
    position: relative;
}
#F01 a {
    font-size: 240%;
    position: absolute;
    text-decoration: none;
    margin-top: 16px;
    margin-left: 16px;
    color: black;
}
#F01 a :hover{
    color: rgb(221, 97, 97);
}
#Brandy{
    border: 3px solid black;
    height: 600px;
    width: 32.5%;
    position: relative;
}
#B0111 a{
    font-size: 240%;
    position: absolute;
    text-decoration: none;
    margin-top: 16px;
    margin-left: 16px;
    color: whitesmoke;
}
#B0111 a:hover{
    color: slategrey;
}
#Beer{
    border: 3px solid black;
    height: 600px;
    width: 32.5%;
    position: relative;
}
#B011111 a{
    font-size: 240%;
    position: absolute;
    text-decoration: none;
    margin-top: 16px;
    margin-left: 16px;
    color: whitesmoke;
}
#B011111 a:hover{
    color: rgb(237, 237, 92);
}

/* End Here  *//* End Here  */
/* End Here  *//* End Here  */


/* Start Here *//* Start Here */
/* Start Here *//* Start Here */
#last{
    /* border: 2px solid black; */
    height: 125px;
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
    justify-content: space-evenly;
}
#fisttt{
    border: 2px solid black;
    background-color: black;
    border-color: #d79561;
    height: 100px;
    width: 100%;
}
#oneee{
    /* border: 2px solid black; */
    height: 25px;
    width: 100%;
}
#oneee b{
    font-size: 130%;
    color: #d79561;
    display: flex;
    align-items:center ;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
#twooo{
    /* border: 2px solid black; */
    height: 25px;
    width: 100%;
    margin-left: 633px;
}
#twooo i{
    font-size: 145%;
    color: #d79561;
    padding: 7px; 
    align-items: center;
    justify-content: center;
}
#twooo i:hover{
    color: aliceblue;
}
